.container {
    width: 100%;
    height: 80vh; /* Full height to center vertically */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.word1, .word2 {
    font-size: 70px;
    opacity: 0; /* Start hidden */
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.word1 {
    animation-name: forw1;
}

.word2 {
    animation-name: forw2;
    animation-delay: 0.5s;
}

.word3 {
    font-size: 70px;
    opacity: 1; /* Start hidden */
    animation-name: forw3;
    animation-delay: 1s;
}

.changing-word {
    display: inline-block;
    animation: fade 2s ease-in-out infinite;
}

@keyframes forw1 {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes forw2 {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes forw3 {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
